.THIS .slds-button_brand {
    background-color: #0070d2;
    border-color: #0070d2;
    color: white;
}
.THIS .slds-button_brand:hover {
    background-color: #1B5297;
    border-color: #1B5297;
    color: white;
}
.THIS .slds-input-height {
     font-size: 100%;
}