.THIS .slds-button_brand {
    background-color: #0070d2;
    border-color: #0070d2;
    color: white;
}
.THIS .slds-button_brand:hover {
    background-color: #1B5297;
    border-color: #1B5297;
    color: white;
}
.THIS .slds-input-height {
     font-size: 100%;
}
.THIS .comment-hidden {
    display:none;
}
.THIS .comment-open {
    display:block;
}
.THIS .textareawide {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
