.THIS .columnr {
  float: right;
  width: 33.33%;
}
.THIS .columnl {
  float: left;
  width: 33.33%;
}
.THIS .column {
  float: right;
  height: 55px;
  width: 33.33%;
  padding: 8px;
  margin: -20px 0 0 -40px
}
.THIS .row:after {
      content: "";
      display: table;
      clear: both;
}