.scroller {
    padding: 0 14px 0 14px;
    height: var(--lwc-lineHeightButton,1.875rem);
    line-height: var(--lwc-lineHeightButton,1.875rem);
    width: 100%;
    overflow: auto;
    padding: var(--lwc-varSpacingXSmall, 8px);
    border: solid var(--lwc-borderWidthThin, 1px) #d9dbd4;
    border-radius: var(--lwc-borderRadiusMedium,0.25rem);
}